* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 8px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: linear-gradient(
    60deg,
    rgb(0, 0, 100),
    rgb(0, 100, 200),
    rgb(100, 100, 200),
    rgb(5, 25, 55),
    rgb(168, 235, 18),
    rgb(0, 53, 58)
  );
  background-size: 400% 400%;
  animation: 5s ease infinite;
  animation-direction: normal 5s ease;
  height: 100vh;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Courier New", "Courier", sans-serif;
  color: #fff;
  text-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation: gradient 8s ease infinite;
  animation: gradient 8s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hundredtext {
  position: relative;
  height: 100px;
  width: 200px;
}

.first-one {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -16px;
  height: 40px;
  width: 22px;
  background: #fff;
  border-radius: 3px;
  transform: rotate(50deg);
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}

.second-one {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0px;
  height: 100px;
  width: 22px;
  background: #fff;
  border-radius: 3px;
  transform: rotate(0deg);
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}
.first-zero,
.second-zero {
  position: absolute;
  z-index: 8;
  top: 0;
  left: 12px;
  box-sizing: border-box;
  border: 24px solid #fff;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}
.second-zero {
  z-index: 6;
  left: 95px;
}
.big-text {
  position: relative;
  z-index: 20;
  display: block;
  font-size: 82px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 6px;
}

.small-text {
  position: relative;
  z-index: 20;
  display: block;
  font-size: 23px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.04em;
}
